/* Reset CSS ============================ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

:root {
  font-size: 16px;
}
:root * {
  font-family: Arial, Helvetica, sans-serif;
}

body > div {
  max-width: 768px;
  width: 100%;
  background: lightgrey;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
body > div nav {
  display: flex;
  justify-content: center;
}
body > div nav button {
  background-color: #6ba84f;
  border: none;
  color: #fff;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  position: absolute;
  font-size: 3rem;
}
body > div nav .menu-open {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  text-align: right;
  left: 0;
  padding-right: 1rem;
  margin-top: 5rem;
  transition: left 0.25s ease-in-out;
}
body > div nav .menu-close {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -5rem;
  transition: bottom 0.25s ease-in;
}
body > div nav ul {
  background: #6ba84f;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  border: 0rem solid #93c47c;
  border-radius: 0 0 100% 0;
  overflow: hidden;
  left: -5rem;
  top: -5rem;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}
body > div nav.active ul {
  left: 0;
  top: 0;
  width: 1000px;
  height: 65vh;
  border-radius: 0 0 100% 0;
  position: absolute;
  border-bottom: 5rem solid #93c47c;
  transition: all 0.35s ease-in-out;
  opacity: 1;
  padding-left: 5rem;
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  gap: 1rem;
}
body > div nav.active ul li {
  max-width: 35rem;
  font-size: 2rem;
  color: #fff;
  letter-spacing: 0.1rem;
}
body > div nav.active .menu-close {
  bottom: 5rem;
  transition: bottom 0.35s ease-in-out;
}
body > div nav.active .menu-open {
  left: -6rem;
  transition: left 0.35s ease-in-out;
}/*# sourceMappingURL=style.css.map */